.gmscreen{
    height: 400px;
    width: 600px;
    background: #ddd;
    position: relative;
    border: 3px solid #6c757d;
    box-sizing: content-box;
    
}


.ball{
    position: absolute;
    height: 20px;
    width: 20px;
    background: #f32929;
    border-radius: 50%;
    left: 0;
    top: 0;
    transition: 0.5s cubic-bezier(0.96, -0.43, 0.16, 1.4);
    -webkit-transition: 0.5s cubic-bezier(0.96, -0.43, 0.16, 1.4);
    -moz-transition: 0.5s cubic-bezier(0.96, -0.43, 0.16, 1.4);
    -ms-transition: 0.5s cubic-bezier(0.96, -0.43, 0.16, 1.4);
    -o-transition: 0.5s cubic-bezier(0.96, -0.43, 0.16, 1.4);
}   

