.gmscreen{
    height: 500px;
    width: 500px;
    background: #ddd;
    position: relative;
}


.ball{
    position: absolute;
    height: 20px;
    width: 20px;
    background: #f32929;
    border-radius: 50%;
    left: 0;
    top: 0;
}   

